<h1>Login</h1>

<%= form_with url: authenticate_path do |form| %>
  <% if flash[:alert] %>
    <div id="error_explanation">
      <h2><%= flash[:alert] %></h2>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :email %>
    <%= form.email_field :email %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
